    <mat-toolbar color="primary">
      <button mat-icon-button [matMenuTriggerFor]="menu"  class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu=matMenu>
        <button mat-menu-item>
            <mat-icon>perm_identity</mat-icon>
            <span>Bio</span>
          </button>
          <button mat-menu-item>
            <mat-icon>call</mat-icon>
            <span>Contact</span>
          </button>
          <button mat-menu-item>
            <mat-icon>bubble_chart</mat-icon>
            <span>Projects</span>
          </button>
          <button mat-menu-item>
            <mat-icon>laptop_mac</mat-icon>
            <span>Experience</span>
          </button>
      </mat-menu>
      <span>Preston Hrubes</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <img src="\assets\images\linkedin.png" width="30px">
    </button>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <img src="\assets\images\facebook-tran.png" width="30px">
    </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <img src="\assets\images\github-1.png" width="30px">
      </button>
    </mat-toolbar>
